@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');
@import "../../node_modules/bootstrap/scss/functions";
@import "variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "mixin";
@import "bootstrap";

html, body {
    min-height: 100%;
    height: 100%;
}

body {
    &.opened {
        overflow: hidden;
    }
}

@import "header";
@import "hamburger";
@import "slick";
@import "footer";
@import "tabs";

section {
    position: relative;
    @include media-breakpoint-up(md) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    @include media-breakpoint-down(md) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .btn {
        min-width: 130px;
    }
    .anchor {
        position: relative;
        top: -110px;
    }
    h2 {
        @include fs(32);
        @include media-breakpoint-up(md) {
            @include fs(44);
        }
        @include media-breakpoint-up(xl) {
            @include fs(56);
        }
    }
    &.opening {
        width: 100%;
        height: 100%;
        color: $white;
        overflow: hidden;
        &::before {
            @include clear;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: radial-gradient(66.95% 66.95% at 49.88% 50%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
            z-index: 1;
        }
        > video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 0;
        }
        .container {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            z-index: 2;
        }
        h1 {
            @include fs(34);
            font-weight: bold;
            text-shadow: 0 0 10px $black;
            @media screen and (min-width: 360px) {
                @include fs(40);
            }
            @media screen and (min-width: 390px) {
                @include fs(42);
            }
            @include media-breakpoint-up(md) {
                @include fs(82);
            }
        }
        .h2, .h3 {
            font-weight: normal;
            text-shadow: 0 0 10px $black;
        }
        .h2 {
            padding: 8px 15px 5px;
            border: 1px solid $white;
            @include media-breakpoint-up(md) {
                @include fs(40);
            }
            @include media-breakpoint-down(md) {
                @include fs(32);
            }
        }
        .h3 {
            @include media-breakpoint-up(md) {
                @include fs(24);
            }
            @include media-breakpoint-down(md) {
                @include fs(16);
            }
        }
        a.btn-primary {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            margin-top: 60px;
            @include media-breakpoint-up(md) {
                padding-top: 15px;
                padding-bottom: 15px;
            }
            @include media-breakpoint-down(md) {
                padding-top: 10px;
                padding-bottom: 10px;
            }
            svg {
                margin-top: 3px;
            }
        }
    }
    &.behind, &.livestream, &.how, &.tabs, &.about {
        .container {
            @include media-breakpoint-up(xl) {
                max-width: 1040px;
            }
        }
        hr {
            @include media-breakpoint-up(md) {
                margin-top: 80px;
                margin-bottom: 80px;
            }
            @include media-breakpoint-down(md) {
                margin-top: 60px;
                margin-bottom: 60px;
            }
        }
    }
    &.about, &.behind {
        .row {
            position: relative;
            align-items: center;
        }
        .image {
            position: relative;
            img {
                width: 100%;
            }
        }
        .text {
            @include media-breakpoint-down(lg) {
                text-align: center;
                .btn.btn-primary {
                    display: inline-flex;
                }
            }
        }
        .btn-primary {
            display: flex;
            align-items: center;
        }
    }
    &.about {
        .row {
            flex-direction: row-reverse;
        }
    }
    &.anniversary {
        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            border: 1px solid rgba($black, 0.3);
            h3 {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                @include fs(28);
                @include media-breakpoint-down(sm) {
                    flex-direction: column;
                }        
                span {
                    @include media-breakpoint-up(md) {
                        margin-top: 3px;
                    }
                }
            }
        }
    }
    &.process,
    &.required {
        overflow: hidden;
    }
    &.required {
        p {
            button {
                padding: 0;
                text-decoration: underline;
                text-underline-position: under;
                text-decoration-thickness: from-font;
                background-color: transparent;
                border: 0;
                appearance: none;
                @include transition($btn-transition);
                &:hover {
                    color: $primary;
                }
            }
        }
        @include media-breakpoint-up(md) {
            padding-top: 80px;
        }
        @include media-breakpoint-down(md) {
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }
    &.how {
        overflow: hidden;
        .how-row {
            > div {
                @include media-breakpoint-up(md) {
                    margin-top: 60px;
                    &:first-child {
                        margin-top: 40px;
                    }
                }
            }
            @include media-breakpoint-down(md) {
                margin-left: auto;
                margin-right: auto;
            }
            .slick-slide {
                @include media-breakpoint-down(md) {
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }
        }
        .h3 {
            @include fs(40);
        }
        p {
            @include fs(16);
        }
    }
}

.card-img {
    position: relative;
    .label {
        position: absolute;
        top: 20px;
        left: 20px;
        min-width: 65px;
        padding: 0 13px;
        color: $black;
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        background-color: $white;
        border-radius: 1rem;
    }
}

@keyframes kvImg {
    0% {
        margin-top: 43vh;
        margin-left: -10vh;
    }
    100% {
        margin-top: -62vh;
        margin-left: -610vh;
    }
}

.modal {
    .btn-close {
        padding: 0;
        margin-left: auto;
        color: $black;
        background-color: transparent;
        border: 0;
        transition: background-color 0.3s;
        &:hover {
            color: $primary;
        }
        .material-symbols-rounded {
            display: block;
            font-size: 2.5rem;
            font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 48
        }
        @include media-breakpoint-up(md) {
            margin-right: -10px;
        }
    }
    .modal-content {
        padding-top: 20px;
        padding-bottom: 50px;
        background-color: $white;
        border: 0;
        @include media-breakpoint-up(md) {
            padding-left: 50px;
        }
        @include media-breakpoint-down(md) {
            padding-left: 20px;
        }
    }
    &.modal-process {
        .btn-close {
            @include media-breakpoint-up(md) {
                margin-bottom: 20px;
            }
            @include media-breakpoint-down(md) {
                margin-bottom: 10px;
            }
        }
    }
    &.modal-how, &.modal-process, &.modal-anniversary {
        .modal-dialog {
            max-width: 580px;
        }
        .modal-body {
            padding: 0 20px 0 0;
        }
        .modal-content {
            @include media-breakpoint-up(md) {
                padding-right: 30px;
            }
        }
        .btn-close {
            @include media-breakpoint-down(md) {
                margin-right: 20px;
            }
        }
        h3 {
            @include fs(28);
            @include media-breakpoint-up(md) {
                @include fs(34);
            }
            @include media-breakpoint-up(xl) {
                @include fs(40);
            }
        }
    }
    &.modal-how {
        .modal-content {
            padding: 20px;
            @include media-breakpoint-up(md) {
                padding: 30px;
            }
        }
        .btn-close {
            position: absolute;
            @include media-breakpoint-up(md) {
                top: 25px;
                right: 30px;
            }
            @include media-breakpoint-down(md) {
                top: 15px;
                right: -5px;
            }
        }
        .head {
            display: flex;
            align-items: flex-start;
            img {
                width: 80px
            }
            .name-title {
                width: calc(100% - 80px);
                padding-left: 10px;
            }
            .name {
                @include fs(28);
            }
            .title {
                @include fs(18);
            }
        }
        .texts {
            @include fs(16);
            white-space: pre-line;
        }
        .btns {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 0 30px;
            padding-top: 20px;
            a.btn {
                margin-top: 10px;
                min-width: 130px;
            }
        }
    }
    &.modal-process {
        img {
            width: 100%;
        }
        p {
            white-space: break-spaces;
        }
    }
}
